services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "50000:50000"
    environment:
      - PORT=50000
      - CLOUDFLARE_HOSTS= # Comma separated list of hosts to connect via cloudflared
    restart: always
